<%- include('../includes/header.ejs')%>
<link rel="stylesheet" href="/css/add.css">
<link rel="stylesheet" href="/css/auth.css">
</head>
<body>
    <%- include('../includes/head.ejs') %>
    <main>
        <%if(message){%>
        <div class="user-message user-message--error"><h2 style="color:red;"><%=message%></h2></div>
        <% }%>
        <% if(isAuthenticated) {%>
            <h2>Already Logged In</h2>
            <form action="/logout" method="POST">
                <button class="btn" type="submit">Logout</button>
            </form>
        <% } else {%>
        <form class="login-form" action="/reset" method="POST">
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email">
            </div>
            <button class="btn" type="submit">Reset Password</button>
        </form>
        <%}%>
    </main>
</body>
</html>