<%- include('../includes/header.ejs')%>
</head>
<body>
    <%- include('../includes/head.ejs')%>
    <main>
        <a href="/admin/universities">Registered Universities</a>
        <!--
        <form method="POST" action="/admin/add-university">
            <h2>Add a University </h2>
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
            <label for="name">Email</label>
            <input type="type" name="email" id="email">
            <button class="btn" type="submit">Submit</button>
        </form>
        -->
    </main>
</body>
</html>